/* 3. Variables ------------------------------------------*/

$background-black : #333333;
$yellow: #ffc20a;
$bg-grey: #f7f7f7;
$black-title: #333;
$grey-regular: #f2f2f2;
$boder-color : #e6e6e6;
$orange-regular: #faa536;
$organge-bold: #f9991b;