/* 6. Breadcrumb ------------------------------------------*/
.breadcrumb {
    background-color: transparent;
    @include border-radius(0px);
    padding: 0px;
    @include justify-content(center);
    .breadcrumb-item {
        text-transform: uppercase;
        a {
            color: #fff;
            
        }
        &:before {
            color: #fff;
        }
    }
    .active {
        color: $yellow;
    }
}